<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="protocolConvertor" class="com.adrian.webchat.extension.protocol.convertor.DefaultConvertor"></bean>

	<bean id="protocolValidator" class="com.adrian.webchat.extension.protocol.validator.DefaultValidator"></bean>
	
	<bean id="protocolType" class="com.adrian.webchat.common.constants.ProtocolType">
		<property name="types">
			<list>
				<value>request</value>
				<value>response</value>
			</list>
		</property>
	</bean>
	
	<bean id="router" class="com.adrian.webchat.extension.router.DefaultRouter">
		<property name="protocolType" ref="protocolType"/>
	</bean>
	
	<bean id="cbus" class="com.adrian.webchat.handler.CbusHandler">
    	<property name="protocolConvertor" ref="protocolConvertor" />
    	<property name="protocolValidator" ref="protocolValidator"/>
    	<property name="router" ref="router"/>
    	<property name="authentication" ref="authentication"/>
    </bean>
    
    <bean id="authentication" class="com.adrian.webchat.extension.security.DefaultAuthentication">
    	<property name="tokenDao" ref="tokenDao"/>
    	<property name="excludeAuth">
    		<list>
    			<value>oauth_login</value>
    		</list>
    	</property>
    </bean>
	
</beans>